<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
  Abrir chamado NSI!
  </h1>
  <img width="300" alt="UNA NSI" src="assets/img/logo_una_fundo_branco.png">
</div>

<div class="content" style="padding:10px; margin-top:18%;" *ngIf="chamadoAberto">
  <div class="alert alert-success" role="alert" style="text-align:center;">
    Seu chamado foi aberto com sucesso. Aguarde até um momento que o apoio já está a caminho.
  </div>
</div>

<div class="content" style="padding:10px;" *ngIf="!chamadoAberto">

    <div class="alert alert-danger" role="alert" *ngIf="msgErro">
      {{msgErro}}
    </div>

    <div class="row">
      <div class="col-lg-12">
        <p>Por favor, insira o seu CPF (apenas números): </p>
        <input myNumberOnly name="inputCPF" placeholder="CPF" maxlength="11"
          [(ngModel)]="cpfSolicitante"  >
        <button type="button" class="btn btn-primary" (click)="buscarSolicitante()" >OK</button>
      </div>
    </div>

    <div class="row" *ngIf="solicitante">
      <div class="col-sm-12 col-md-4 col-lg-4">
        <p>Qual o prédio que você está? </p>

        <select [(ngModel)]="agrupamentoSelecionado" (ngModelChange)="montarComboAndares($event)"
             class="custom-select" id="comboAgrupamento">
           <option value="" >Selecione ...</option>
           <option *ngFor="let agrup of agrupamentos" [value]="agrup._id">{{agrup.nome}}</option>
        </select>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="agrupamentoSelecionado">
        <p>Qual o andar? </p>

        <select [(ngModel)]="andarSelecionado" (ngModelChange)="montarComboUnidades($event)"
            class="custom-select" id="comboAndares">
           <option value="" >Selecione ...</option>
           <option *ngFor="let andar of andares" [value]="andar">Andar {{andar}}</option>
        </select>
      </div>

      <div class="col-sm-12 col-md-4 col-lg-4" *ngIf="andarSelecionado">
        <p>Qual o sala? </p>

        <select [(ngModel)]="unidadeSelecionada"
            class="custom-select" id="comboUnidade">
           <option value="" >Selecione ...</option>
           <option *ngFor="let unidade of unidades" [value]="unidade._id">{{unidade.nome}}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="unidadeSelecionada">
      <div class="col-lg-12">
        <p>Qual o motivo de sua solicitação? </p>

        <select [(ngModel)]="categoriaSelecionada"
            class="custom-select" id="comboCategoria">
           <option value="" >Selecione ...</option>
           <option *ngFor="let categoria of categorias" [value]="categoria._id">{{categoria.nome}}</option>
        </select>
      </div>
    </div>

    <div class="row" *ngIf="categoriaSelecionada">
      <div class="col-lg-12" style="padding:10px; text-align:center;">
        <button type="button" class="btn btn-primary" (click)="abrirChamado()" >Abrir chamado</button>
      </div>
    </div>

</div>
